.LoginPanel {
    display: flex;
    background: linear-gradient(90deg, rgba(199, 217, 243, 1) 0%, rgba(199, 217, 243, 0) 32%);
    height: 100vh - 9vh;

    ::-webkit-input-placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 1.2vw;
        text-align: left;
        color: #79a1db;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        font-style: normal;
        font-weight: normal;
        font-size: 1.2vw;
        text-align: left;
        color: #79a1db;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        font-style: normal;
        font-weight: normal;
        font-size: 1.2vw;
        text-align: left;
        color: #79a1db;
    }

    :-ms-input-placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 1.2vw;
        text-align: left;
        color: #79a1db;
    }

    #SideLogo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33vw;

        img {
            display: absolute;
            filter: drop-shadow(0.45vw 0.4vw 1vw rgba(0, 0, 0, 0.2));
            margin-left: 20px;
            width: 30vw;
        }
    }

    .LoginForm {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 3.5vh;
        align-items: center;
        justify-content: center;

        h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 2.7vw;
            text-align: center;
            color: #32435c;
            margin: 0px;
            border-bottom: 0.3vh solid;
            border-image-source: linear-gradient(
                270deg,
                rgba(156, 186, 230, 0) 0%,
                #79a1db 50.31%,
                rgba(199, 217, 243, 0) 100%
            );
            border-image-slice: 1;
        }

        h3 {
            font-family: Spartan;
            font-style: normal;
            font-weight: 500;
            font-size: 1.9vw;
            text-align: center;
            color: #61728a;
            margin: 0px;
        }

        h4 {
            margin: 0px;
            font-style: normal;
            font-weight: 500;
            font-size: 1.3vw;
            text-align: center;
            color: #61728a;
        }

        #Register {
            display: flex;
            align-items: center;
        }

        .stroke {
            display: inline-block;
            border-bottom: 0.3vh solid #bacae1;
            margin-left: 1vw;
            margin-right: 1vw;
            width: 10vw;
        }

        p {
            display: inline-block;
            font-style: normal;
            font-weight: normal;
            font-size: 1.3vw;
            text-align: center;
            margin: 0px;
            color: #79a1db;
        }

        form {
            display: flex;
            flex-direction: column;
            row-gap: 3.5vh;
            align-items: center;

            a {
                font-style: normal;
                font-weight: normal;
                text-align: center;
                font-size: 1.1vw;
                color: #9fb9df;
            }

            .FormInput {
                padding-left: 1vw;
                padding-right: 1vw;
                width: 30vw;
                height: 5vh;
                font-style: normal;
                font-weight: normal;
                font-size: 1.3vw;
                text-align: left;
                border: 0.3vh solid;
                border-image-source: radial-gradient(202.04% 202.04% at 50% 50%, #32435c 0%, #79a1db 39.52%);
                border-image-slice: 1;
                color: #79a1db;
                outline: none;
            }

            .SubmitButton {
                font-family: Spartan;
                font-style: normal;
                font-weight: bold;
                font-size: 1.1vw;
                text-align: center;
                border: none;
                outline: none;
                color: #c7d9f3;
                background: #79a1db;
                border-radius: 1.5vh;
                width: 8vw;
                height: 7vh;
            }

            .SubmitButton:hover {
                transition: all 0.4s;
                background: #32435c;
                color: #c7d9f3;
            }
        }
    }
}
