.ShopPage {
  > .Container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 85vh; // 8 NavBar, 7 Footer
    width: 100%;

    overflow-y: auto;

    // border: 1px solid red;

    > .Products {
      display: flex;
      justify-content: center;
      // width: 100%;
      height: fit-content;
      gap: 40px;
      flex-wrap: wrap;
    }
  }
}
